# Database
CHROMA_PATH=data/chroma
DEFAULT_PDF=documents/default.pdf

# AI Models
EMBEDDING_MODEL=sentence-transformers/all-MiniLM-L6-v2
MODEL_NAME=llama3-8b-8192

# API Keys
GROQ_API_KEY=gsk_your_key_here

# Options: DEBUG, INFO, WARNING, ERROR
LOGGING=INFO